{% extends "base.html" %}

{% block caption_main_index %} color="red" {% endblock %}

{% block content %}
    {% comment %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.
            </p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    {% endcomment %}
    <div class="col" style="width: 100%; height: calc(100vh - var(--table-offset));">

    </div>

    <div class="row q-gutter-md items-center">
        <div class="column q-gutter-sm">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% comment %}
                <q-field outlined label="{{ form.username.label }}" stack-label>
                    {{ form.username }}
                </q-field>
                {{ form.username.errors }}
                {% endcomment %}

                <div class="q-gutter-y-sm items-center">
                    <q-input name="username" style="background: white" outlined
                             v-model="form_username" label="{{ form.username.label }}">
                    </q-input>
                    <q-input name="password" style="background: white" outlined
                             v-model="form_password" label="{{ form.password.label }}"
                             :type="user_is_password ? 'password' : 'text'">
                        <template v-slot:append>
                            <q-icon :name="user_is_password ? 'visibility_off' : 'visibility'"
                                    class="cursor-pointer" @click="user_is_password = !user_is_password">
                            </q-icon>
                        </template>
                    </q-input>
                    <div class="self-center q-gutter-x-sm">
                        <q-btn type="a" href="{% url 'main:index' %}" outline icon="home" color="primary"></q-btn>
                        <q-btn type="submit" color="purple" value="login" label="Login"></q-btn>
                    </div>
                </div>
                {% comment %}
                <div class="self-center q-gutter-x-sm">
                    <q-btn type="a" href="{% url 'contract:index' %}" outline icon="home" color="primary"></q-btn>
                    <q-btn type="submit" color="purple" value="login" label="Login2"></q-btn>
                    <q-btn type="hidden" name="next" value="{{ next }}" />
                </div>
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
                {% endcomment %}
                {% comment %}
                <q-input outlined v-model="form_password" label="Outlined"></q-input>
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                {% endcomment %}
                {% comment %}
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
                {% endcomment %}
            </form>
        </div>
    </div>

    {% comment %}
    <p>
        <a href="{% url 'password_reset' %}">Lost password?</a>
    </p>
    {% endcomment %}
{% endblock %}

{% block vue_setup %}
    const form_username = Vue.ref('{{ form.username.value|default:"" }}')
    const form_password = Vue.ref('{{ form.password.value|default:"" }}')
{% endblock %}

{% block vue_setup_return %}
    form_username,
    form_password,
{% endblock %}

{% block vue_methods %}
{% endblock %}
