{% extends "base.html" %}

{% block breadcrump %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'main:home' %}">Главная</a>
                <span class="breadcrumb-item active">{{ title }}</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->
{% endblock %}

{% block content %}
    <!-- About Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">О проекте</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-light mb-3" style="padding: 30px;">
                        <h4 class="font-weight-normal">Учебный проект сайта новостей</h4>
                        <h5 class="font-weight-bold">Технические данные</h5>
                        <p></p>
                        <div class="d-flex align-items-center mb-3">
                            <i class="fa fa-2x fa-microchip text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h6 class="font-weight-bold">Python</h6>
                                <p class="m-0">v.{{ python_version }}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class="fas fa-2x fa-server text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h6 class="font-weight-bold">Django</h6>
                                <p class="m-0">v.{{ django_version }}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class="fas fa-2x fa-database text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h6 class="font-weight-bold">{{ db_name }}</h6>
                                <p class="m-0">v.{{ db_version }}</p>
                            </div>
                        </div>
                        {% comment %}
                        <div class="d-flex align-items-center mb-3">
                            <i class="far fa-2x fa-file-alt text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h6 class="font-weight-bold">BaseDIR</h6>
                                <p class="m-0">{{ base_dir }}</p>
                            </div>
                        </div>
                        {% endcomment %}
                        <div class="d-flex align-items-center mb-3">
                            <i class="fa fa-2x fa-newspaper text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h6 class="font-weight-bold">Browser User Agent</h6>
                                <p class="m-0">{{ browser_user_agent }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}
