{% extends "base.html" %}

{% block breadcrump %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'main:home' %}">Главная</a>
                <a class="breadcrumb-item" href="{% url 'main:profile' %}">Профиль</a>
                <span class="breadcrumb-item active">Новая статья</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->
{% endblock %}

{% block content %}
    <!-- Article Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Новая статья</h3>
                <a class="text-primary font-weight-medium text-decoration-none" href="{% url 'main:profile' %}">Профиль пользователя</a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form bg-light mb-3" style="padding: 30px;">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="control-group">
                                        {{ form.as_p }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <button class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2" type="submit">Создать</button>
                                        <a class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2"
                                            href="{% url 'main:profile' %}"  id="new_article">Отмена</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Article End -->
{% endblock %}
