{% extends "base.html" %}
{% load static %}

{% block breadcrump %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'main:home' %}">Главная</a>
                <span class="breadcrumb-item active">{{ title }}</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->
{% endblock %}

{% block content %}
    <!-- Profile Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Профиль пользователя</h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form bg-light mb-3" style="padding: 30px;">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="control-group">
                                        {{ form.user.username.label_tag }}
                                        {{ form.user.username }}
                                        <!-- <label for="name" class="form-label">Login</label> -->
                                        <!-- <input type="text" class="form-control p-4" id="name" value="{{user.username}}" required="required" readonly/> -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group">
                                        {{ form.account.nickname.label_tag }}
                                        {{ form.account.nickname }}
                                        <!-- <label for="nickname" class="form-label">Nickname</label> -->
                                        <!-- <input type="text" class="form-control p-4" id="nickname" value="{{account.nickname}}"/> -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="control-group">
                                        {{ form.user.first_name.label_tag }}
                                        {{ form.user.first_name }}
                                        <!-- <label for="first_name" class="form-label">Имя</label> -->
                                        <!-- <input type="text" class="form-control p-4" id="first_name" value="{{user.first_name}}"/> -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group">
                                        {{ form.user.last_name.label_tag }}
                                        {{ form.user.last_name }}
                                        <!-- <label for="last_name" class="form-label">Фамилия</label> -->
                                        <!-- <input type="text" class="form-control p-4" id="last_name" value="{{user.last_name}}"/> -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="control-group">
                                        {{ form.user.email.label_tag }}
                                        {{ form.user.email }}
                                        <!-- <label for="email" class="form-label">Email</label> -->
                                        <!-- <input type="email" class="form-control p-4" id="email" value="{{user.email}}"/> -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-group">
                                        {{ form.account.birthday.label_tag }}
                                        {{ form.account.birthday }}
                                        <!-- <label for="birthday" class="form-label">День рождения</label> -->
                                        <!-- <input type="text" class="form-control p-4" id="birthday" value="{{account.birthday}}"/> -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-group">
                                        {{ form.account.gender.label_tag }}
                                        {{ form.account.gender }}
                                        <!-- <label for="gender" class="form-label">Пол</label> -->
                                        <!-- <input type="text" class="form-control p-4" id="gender" value="{{account.get_gender_display}}"/> -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <ul class="">
                                {% if form.non_field_errors %}
                                    <li>{{ form.non_field_errors }}</li>
                                {% endif %}
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>
                                            {{ field.label }}
                                            <ul class="errorlist">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <button class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2" type="submit">
                                            Сохранить
                                        </button>
                                        <a class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2"
                                            href="{% url 'main:profile' %}"  id="new_article">
                                            Отмена
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile End -->
{% endblock %}
