{% extends "base.html" %}
{% load static %}

{% block breadcrump %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'main:home' %}">Главная</a>
                <span class="breadcrumb-item active">{{ title }}</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->
{% endblock %}

{% block content %}
    <!-- Profile Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Профиль пользователя</h3>
                <a class="text-primary font-weight-medium text-decoration-none"
                   href="{% url 'main:profile_articles' %}">
                    Статьи пользователя
                </a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form bg-light mb-3" style="padding: 30px;">

                        {% include 'main/part_profile.html' %}

                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <a class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2"
                                       href="{% url 'main:profile_update' %}" id="profile_update">Изменить профиль</a>
                                    <a class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2"
                                       href="{% url 'main:profile_favorites' %}" id="profle_favorites">Избранное</a>
                                    <a class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2"
                                       href="{% url 'main:profile_articles' %}" id="profle_articles">Мои статьи</a>
                                    <a class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2"
                                       href="{% url 'main:article_create' %}"  id="new_article">Новая статья</a>
                                    {% if user.groups.all.0|escape == 'Читатели' or user.groups.all.0|escape == 'Запрос_На_Писатели' %}
                                        <form method="post">
                                            {% csrf_token %}
                                            {% if user.groups.all.0|escape == 'Читатели' %}
                                                <button class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2" type="submit">
                                                    Запрос на Писателя
                                                </button>
                                            {% endif %}
                                            {% if user.groups.all.0|escape == 'Запрос_На_Писатели' %}
                                                <button type="submit" class="btn btn-primary font-weight-semi-bold py-2 px-3 mr-2">
                                                    Отменить запрос
                                                </button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile End -->
{% endblock %}
