{% extends "base.html" %}
{% load static %}

{% block breadcrump %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'main:home' %}">Главная</a>
                <span class="breadcrumb-item active">{{ title }}</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->
{% endblock %}

{% block content %}
    <!-- Profile Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Профиль автора</h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form bg-light mb-3" style="padding: 30px;">
                        {% include 'main/part_profile.html' %}
                    </div>
                </div>
            </div>

            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Статьи автора</h3>
            </div>
            <div class="row">
                {% if article_list.count > 0 %}
                    {% for article in article_list %}
                        {% include 'part_article.html' %}
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between py-2 px-4 mb-3">
                            <h3 class="h4 m-0">Нет статей</h3>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Profile End -->
{% endblock %}
