{% extends "base.html" %}

{% block title %} Редактирование статьи {% endblock %}

{% block breadcrump %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'main:home' %}">Главная</a>
                <span class="breadcrumb-item active">Редактирование статьи</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->
{% endblock %}

{% block content %}
    <!-- Article Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Редактировать статью</h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form bg-light mb-3" style="padding: 30px;">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="control-group">
                                        {{ form.as_p }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary font-weight-semi-bold px-4" style="width: 120px; height: 50px;" type="submit">Изменить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Article End -->
{% endblock %}
