{% extends "base.html" %}

    {% block title %} Главная {% endblock %}

    {% comment %}
    {% block top_news %} {% include 'top_news.html' %} {% endblock %}
    {% endcomment %}

    {% block main_news %} {% include 'main_news.html' %} {% endblock %}

    {% block featured_news %} {% include 'featured_news.html' %} {% endblock %}

    {% block category_news %} {% include 'category_news.html' %} {% endblock %}

    {% comment %}
    {% block news_with_sidebar %} {% include 'news_with_sidebar.html' %} {% endblock %}
    {% endcomment %}
