{% extends "base.html" %}
{% load static %}

    {% block title %} {{ title }} {% endblock %}

    {% block breadcrump %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'main:home' %}">Главная</a>
                <span class="breadcrumb-item active">{{ title }}</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->
    {% endblock %}

    {% block content %}
    <!-- Profile Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Профиль автора</h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form bg-light mb-3" style="padding: 30px;">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="control-group">
                                    <label for="name" class="form-label">Login</label>
                                    <input type="text" class="form-control p-4" id="name" value="{{user.username}}" required="required" readonly/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group">
                                    <label for="first_name" class="form-label">Nickname</label>
                                    <input type="text" class="form-control p-4" id="nickname" value="{{account.nickname}}" readonly/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="control-group">
                                    <label for="first_name" class="form-label">Имя</label>
                                    <input type="text" class="form-control p-4" id="first_name" value="{{user.first_name}}" readonly/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group">
                                    <label for="last_name" class="form-label">Фамилия</label>
                                    <input type="text" class="form-control p-4" id="last_name" value="{{user.last_name}}" readonly/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="control-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control p-4" id="email" value="{{user.email}}" readonly/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-group">
                                    <label for="last_name" class="form-label">День рождения</label>
                                    <input type="text" class="form-control p-4" id="birthday" value="{{account.birthday}}" readonly/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-group">
                                    <label for="first_name" class="form-label">Пол</label>
                                    <input type="text" class="form-control p-4" id="gender" value="{{account.get_gender_display}}" readonly/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Статьи автора</h3>
            </div>
            <div class="row">
                {% if article_list.count > 0 %}
                {% for article in article_list %}
                <div class="col-lg-6">
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="{% static ''|add:article.banner %}" style="object-fit: cover;" alt="">
                        <div class="overlay position-relative bg-light">
                            <div class="mb-2" style="font-size: 14px;">
                                <a href="{% url 'main:category' pk=article.category__pk %}">{{ article.category__title }}</a>
                                <span class="px-1">/</span>
                                <span>{{ article.created_at|date:'DATE_FORMAT' }}</span>
                                <span class="px-1">/</span>
                                <span>Просмотров: {{ article.views__count }}</span>
                            </div>
                            <a class="h4" href="{% url 'main:article_detail' pk=article.pk %}">{{ article.title }}</a>
                            <p class="m-0">{{ article.annotation }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between py-2 px-4 mb-3">
                        <h3 class="h4 m-0">Нет статей</h3>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Profile End -->
    {% endblock %}
